@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    --bs-gutter-x: unset !important;
}

.container-xl{
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav__links{
    font-size: 1.3rem;
    color: #32323d !important;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 20px;
}
.nav-item{
    margin-right: 30px;
}
.navbar-brand{
    line-height: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

#log_in_btn{
    background-color: white !important;
    outline: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #3399c9;
    border-style: solid;
    margin-top: 15px;
}

#log_in{
    color: #3399c9;
    font-weight: 500;
    margin-bottom: -3px;
    margin-top: -3px;
}

#sign_up_btn{
    background-color: #3399c9 !important;
    outline: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    border-style: solid;
    border-color: #3399c9;
    margin-left: -15px;
}
#sign_up_btn:hover{
    background-color: #006da0 !important;
    border-color: #006da0;
}
#sign_up{
    color: #ffffff !important;
    font-weight: 500;
    margin-bottom: -3px;
    margin-top: -3px;

}
.navbar-brand{
    margin-left: 30px;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.navbar{
    box-shadow: 0 5px 4px -2px rgb(186, 184, 184);
    padding-bottom: 4px !important;
    background-color: #fff;
}

.nav__links:hover{
    box-shadow: 0 4px 0px 0px #3399c9;
    transition: all 0.1s ease;
}

@media only screen and (max-width: 991px){
    .navbar-nav{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .nav-item{
        margin-bottom: 20px;
    }
    #log_in{
        font-size: 1.3rem;
        color: #32323d !important;
        font-weight: 500;
    }
    #sign_up{
        font-size: 1.3rem;
        color: #32323d !important;
        font-weight: 500;
    }
    #sign_up_btn{
        margin-left: unset;
        border: unset;
        background-color: #ffffff !important;
    }
    #sign_up_btn:hover{
        background-color: #ffffff !important;

    }
    #log_in_btn{
        border: none;
    }
    .nav__links:hover{
        box-shadow: unset;
    }
    #bring {
        font-size: 5vw !important;
    }
}

.first{
    margin-top: 9rem;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-left: unset;
    padding-right: -20px !important;
}

#bring{
    font-size: 4vw;
    color: #32323d;
    font-weight: 600;
    width: 60%;
}

@media only screen and (max-width: 800px){
    #bring {
        font-size: 5.5vw !important;
    }
    #try{
        font-size: 5.5vw;
    }
}
#try{
    margin-top: 10px;
    color: #ef5466;
    font-weight: 600;


}


.albums{
    margin-right: -11px;
}
.btns{
    margin-top: 20px;
    margin-bottom: 20px;
}

.premium{
    background-color: #ef5466;
    border: none;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    width: 47%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.free{
    background-color: unset;
    border: 2px solid #4a4a4a;
    border-radius: 30px;
    font-weight: 600;
    color: #4a4a4a;
    width: 47%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 20px;
}

.premium:focus,.free:focus{
    outline: none;
    box-shadow: none;
}

/* button grow effect*/

.grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .grow-on-hover:hover, .grow-on-hover:focus, .grow-on-hover:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  /*Second container*/

  .second{
      background-color: #f9f9f9;
      padding: 6vw 0 2vw 0;
      padding-left: unset;
      padding-right: unset;
  }

  .second > div.row{
      justify-content: space-around !important;
  }



  .why__deezer > h1{
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 50px;
  }

  .phone{
      margin-top: -35px;
      margin-left: -70px;
  }

  .txt > h4{
      font-weight: 700;
      margin-bottom: 20px;
  }

  .txt > p{
      margin-bottom: 40px;
  }

  /*third container*/
  
  .third{
      background-color: #ef5466;
      color: #fff;
      height: 18rem;
  }

  .material-icons{
      font-size: 50px;
      font-weight: 100 !important;
  }

  .always__txt > h1{
      margin-bottom: 22px;
      font-size: 40px;
      font-weight: 700;
  }
  .always__txt > p{
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 400;
  }
  
  @media only screen and (max-width: 768px){
    .always__txt > h1{
        font-size: 30px;
    }
    .always__txt > p{
        font-size: 18px;
    }
  }
  